html {
  font-size: 62.5%;
}
body {
  font-family: 'Outfit', sans-serif;
}
/*Typography*/
h3 > a {
  font-size: 18px;
  color: var(--color-white);
  margin-bottom: 0;
  font-weight: 600;
}
h3 > a:hover {
  color: var(--color-two);
}

p {
  font-size: 1.1rem;
  color: var(--color-one);
  font-weight: 300;
  margin-bottom: 5px;
  transition: all 0.3s;
}
a {
  text-decoration: none;
}

p > a {
  color: var(--color-white);
}
p > a:hover {
  color: var(--color-two);
}
/*color pallete*/
:root {
  --color-one: hsl(215, 51%, 70%);
  --color-two: hsl(178, 100%, 50%);
  --color-main: hsl(217, 54%, 11%);
  --color-card: hsl(216, 50%, 16%);
  --color-line: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);
}
/*main containers*/
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--color-main);
}
.grid1x2 {
  display: grid;
  grid-template-rows: 55% 45%;
  background-color: var(--color-card);
  width: 20rem;
  height: 35rem;

  border-radius: 15px;
  overflow: hidden;

  transform: scale(1.2);
}

/*image components*/
.picture {
  margin: 1.2rem;
  margin-bottom: 0;
}

.picture .main {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.view {
  opacity: 0;

  width: 30px;
  height: 30px;

  object-fit: cover;

  position: relative;
  top: -10.5rem;
  left: 7.75rem;
}
/*the box container will be helpfull to enable download or to put anchor link*/
.box {
  opacity: 0;

  width: 100%;
  height: 100%;

  background: var(--color-two);
  position: relative;
  top: -21rem;
  border-radius: 7px;
}

.picture:hover .view {
  opacity: 1;
  transition: all 1s;
}
.picture:hover .box {
  opacity: 0.5;
  cursor: pointer;
  transition: all 1s;
}
/*text section*/
.text {
  margin: 1.2rem;
  margin-top: 0;
}

.order {
  display: flex;
  justify-items: center;
  align-items: center;
  column-gap: 5.5rem;
}
.eth {
  display: flex;
  column-gap: 0.6rem;
  align-items: center;
}
.ETH {
  position: relative;
  top: -0.4rem;
  color: var(--color-two);
  font-size: 1rem;
}
.days {
  display: flex;
  column-gap: 0.6rem;
  align-items: center;
}
.three {
  position: relative;
  top: -0.35rem;
  font-size: 1rem;
}
.image__eth {
  width: 8px;
  height: 15px;
  object-fit: cover;
}
.image__clock {
  width: 15;
  height: 15px;
  object-fit: cover;
}
/*horizontal line*/
hr {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-top: 1px solid;
  height: 10px;
  color: var(--color-line);
}
/*footer*/
.tag {
  display: flex;
  column-gap: 0.8rem;
}

.tag__icon {
  width: 25px;
  height: 25px;
  border-radius: 100%;

  border: 0.5px solid var(--color-white);
}
.para {
  position: relative;
  top: -0.8rem;
}

@media screen and (min-width: 750px) {
  .grid1x2 {
    transform: scale(1.3);
  }
  .grid1x2:hover {
    transform: scale(1.2);
    transition: all 1s;
  }
}
